<nav class="navbar navbar-expand-lg navbar-light fixed-top border-bottom shadow p-3 mb-5 bg-white">
    <div class="container-fluid">
      <a class="navbar-brand nav-vault" href="/"><img src="https://img.icons8.com/windows/32/000000/safe.png"/>MyVAULT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
         
          <li class="nav-item">
            <a class="nav-link sign-in" href="/login"><img src="https://img.icons8.com/material-outlined/24/000000/key--v2.png"/>   <b> Sign </b> in   </a>  <!----  href="/login"     -->
          </li>
         
        </ul>
      </div>
    </div>
  </nav>