<nav class="navbar navbar-expand-lg navbar-light fixed-top border-bottom shadow p-3 mb-5 bg-white">
    <div class="container-fluid">
      <a class="navbar-brand nav-vault" href="/"><img src="https://img.icons8.com/windows/32/000000/safe.png"/>MyVAULT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
         
            <li class="nav-item">
                <a class="nav-link login" href="/loginMaster">login</a>  <!----  href="/login"     -->
            </li>

            <li class="nav-item create">
                <a class="nav-link" href="/createMaster">Create</a>  <!----  href="/createMaster"     -->
            </li>

            <li class="nav-item">
              <a class="nav-link logout" href="/logout">logout</a>   <!----  href="/logout"     -->
            </li>
           
         </ul>
      </div>
    </div>
  </nav>