<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
    <title>Create Password</title>
</head>

<body>
  <%- include("../partials/navUser.ejs"); %>

    <p>This is where you will create your passwords</p>
    <form action="/cPass" method="POST">
      <div class="container">
        <div class="card">
          <div class="card-header text-center">
            <h1>Create your credentials</h1>
          </div>
          <div class="mb-3"> 
            <label for="exampleFormControlInput1" class="form-label">Title/Category</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="title"
              placeholder="Type in here...">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your Credentials</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="body" rows="3"></textarea>
          </div>
        </div>
        <input type="submit" name="save" value="Save" class="btn btn-success">
        
      </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.1/ckeditor.js" integrity="sha512-2nFxKVmFuBhAR45DBnAANBjtxzf7z0m6wRU7NOquxibA6efrQpUtdjFT4wzqewqTI3/cCNbBzJNUtu1NxjFiKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>  //editor 
      CKEDITOR.replace('body', {
          plugins: 'wysiwygarea, toolbar, basicstyles, link' 
      })
    </script>
    
  </body>

</html>