<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./css/index.css">
    
    <title>Home page</title>
</head>

<body>
    <%- include("../partials/nav.ejs"); %>   
 
      <% if(message.length >0) { %>
          <div class="alert alert-success alert-dismissible fade show animate__animated animate__fadeInDownBig" id="alert" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      <% } %>

 
  <div class="container-1">
      <div class="first">
        <div class="left-1" data-aos="fade-in" data-aos-duration="2000">
          <h1><b>Be CareFree</b><img src="https://img.icons8.com/ios-filled/50/000000/relax.png"/> </h1>
          <p>Your <b>One and Only VAULT</b> for all your needs</p>
        </div>

        <div class="right-1" data-aos="fade-in" data-aos-duration="2000">
          <img src="./images/Free Control Illustrations/PNG/091.png">   
        </div>
      </div>

      <div class="second">
          <div class="left-2" data-aos="fade-in" data-aos-duration="2000">
            <img src="./images/Pulse Illustration Kit/2 Effective UI.png">
          </div>
          
          <div class="right-2" data-aos="fade-in" data-aos-duration="2000">
            <p>Just sign up with your <b>Google account</b> and create a <b>personal Codename</b> and <b>password</b> for storing all your crendentials at one go</p>
          </div>
      </div>

      <div class="third">
        <div class="left-3" data-aos="fade-in" data-aos-duration="2000">
          <p> Create or Update, at your own pace, slow and steady!</p>
        </div>
        
        <div class="right-3" data-aos="fade-in" data-aos-duration="2000">
          <img src="./images/Free Control Illustrations/PNG/073.png">
        </div>
      </div>

      <div class="fourth" data-aos="fade-in" data-aos-duration="2000">
        <img src="./images/Wavy_Bus-27_Single-06Copy.jpg">
        <p> Your stuff is safe and sound, <b>24/7</b></p>
      </div>

    </div>

    <footer class='footer'>
      
     <!---- <div class="social">
        <a href='#'><i class='fab fa-instagram'></i></a>
        <a href='#'><i class='fab fa-snapchat'></i></a>
        <a href='#'><i class='fab fa-twitter'></i></a>
        <a href='#'><i class='fab fa-facebook'></i></a>
      </div>  -->
      <div class="home">
      <ul class="list">
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>  
        <li><a href='/terms'>Terms</a></li>
       
      </ul>
      </div>

      <p class='copyright'>My Vault@2021</p>
    </footer>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script> 
</body>

</html>